// ========== MAIN WRAPPER & CONTAINER ==========
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 100rem;
    height: 80rem;
    background-color: var(--background-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    line-height: 5rem;
    color: var(--white);
}

// ========== RIGHT SIDE (Form) ==========
.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--black);
    padding: 40px;
}

.title {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 600;
}

// --- Login Form Container ---
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: normal;
    margin: 20px 0 15px 0;

    .text-wrapper {
        height: 5rem;
        display: flex;
        gap: 1rem;

        .input {
            height: 5rem;
            padding: 0 2rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            border-radius: var(--border-radius);

            &::placeholder {
                font-size: 1.6rem;
            }
        }
    }

    .section {
        width: 5rem;
        height: 5rem;
    }

    .label {
        font-size: 1.2rem;
    }

    .error {
        font-size: 1.2rem;
    }

    .error:focus {
        outline: none;
        border-color: var(--error-color);
        box-shadow: 0 0 2px 1px var(--error-color);
    }

    div[data-position='left'] + .input {
        padding: 0 5rem;
    }
}

// --- Password Visibility Toggle Button ---
.form {
    .root-right-btn {
        border: none;
        background: none;
        width: 4rem;
        height: 4rem;
        padding: 4px;
        border-radius: var(--border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--black);
        cursor: pointer;

        &:hover {
            background: #dfe3e7;
            color: var(--black);
        }
        .icon-right-btn {
            display: flex;
            align-self: center;
            cursor: pointer;
        }
    }
}

//============== TEXT INPUT

// ========== CHECKBOX & RESET PASSWORD ==========
.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 1rem 0;

    .checkbox-label {
        font-size: 1.2rem;
    }
    .checkbox-inner {
        width: 1.6rem;
        height: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .checkbox-input {
        width: 1.6rem;
        height: 1.6rem;
        cursor: pointer;
    }
    .checkbox-icon {
        font-size: 1.6rem;
    }
}

.checkbox-body {
    display: flex;
    align-items: center;
}

// ========== SUBMIT BUTTON ==========
.submit {
    width: 100%;
}

// ========== OPTIONAL: ROOT BUTTON RESETPASSWORD  ==========
.root-btn {
    border: none;
    background: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;

    &:hover {
        background: none;
    }

    .inner-btn {
        cursor: pointer;
    }
}

.modal-content {
    min-width: 40rem;
    padding: 2rem;
    padding-bottom: 3rem;
    border-radius: var(--border-radius);

    .header {
        h2 {
            font-size: 2rem;
        }

        .close {
            width: 3rem;
            height: 3rem;
            color: var(--black);
            cursor: pointer;
        }
    }

    .text-wrapper {
        height: 5rem;
        display: flex;
        width: 100%;
        gap: 1rem;

        .input {
            height: 5rem;
            padding: 2rem 12rem 2rem 2rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            border-radius: var(--border-radius);

            &::placeholder {
                font-size: 1.6rem;
            }
        }
    }

    .section {
        width: 5rem;
        height: 5rem;
    }

    .label {
        font-size: 1.2rem;
    }

    .error {
        font-size: 1.2rem;
    }

    .error:focus {
        outline: none;
        border-color: var(--error-color);
        box-shadow: 0 0 2px 1px var(--error-color);
    }

    div[data-position='left'] + .input {
        padding: 0 5rem;
    }

    div[data-position='right'] {
        width: 12rem;
        height: 100%;
        padding: 0.8rem;
        display: flex;
        align-items: center;
    }

    .send-email,
    .resend-email-btn {
        min-width: auto;
        min-height: auto;
        width: 100%;
        height: 100%;

        span {
            font-size: 1.2rem;
        }
    }

    .resend-email-btn {
        width: fit-content;

        p {
            color: var(--blue-500);
            font-weight: 500;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .resend-email-message {
        font-size: 1.2rem;
        color: var(--gray-900);
        margin-top: 1rem;
    }
}

// ========== OPTIONAL : SIGNUP BUTTON ==========
.signup {
    width: 100%;

    & .description {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 1.4rem;

        & .link {
            color: var(--primary-color);
            text-decoration: none;
            cursor: pointer;
        }
    }
}

// ========== SOCIAL MEDIA LOGIN ==========

.social-media {
    margin-top: 2rem;
    .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.05rem solid var(--border-color);
        z-index: 0;
        margin-bottom: 5rem;

        .description {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #6b7280;
            font-size: 1.2rem;
            background: var((--white));
            height: 2rem;
            width: 12rem;
        }
    }
}

// ==========FORGET PASSWORD ==========
.popup {
    .forgot-password {
        min-width: auto;
        min-height: auto;
        border: none;
        outline: none;
        background: transparent;
        font-size: 1.2rem;
        font-weight: 400;
        height: 1.6rem;

        &:hover {
            background: transparent;
        }
    }

    .reset-password-form {
        margin-top: 0;
        margin-bottom: 0;
    }
}
