// ========== MAIN WRAPPER & CONTAINER ==========
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 100rem;
    height: 80rem;
    background-color: var(--background-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    line-height: 5rem;
}

// ========== RIGHT SIDE (Form) ==========
.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--black);
    padding: 40px;
}

// --- Login Form Container ---
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: normal;
    margin: 20px 0 15px 0;

    .name-fields {
        display: flex;
        gap: 1rem;
    }

    .text-wrapper {
        height: 5rem;
        display: flex;
        gap: 1rem;
        border-radius: var(--border-radius);

        .input {
            height: 5rem;
            padding: 0 2rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            border-radius: var(--border-radius);

            &::placeholder {
                font-size: 1.6rem;
            }
        }
    }

    .section {
        width: 5rem;
        height: 5rem;
    }

    .label {
        font-size: 1.2rem;
    }

    .error:focus {
        outline: none;
        border-color: var(--error-color);
        box-shadow: 0 0 2px 1px var(--error-color);
    }

    div[data-position='left'] + .input {
        padding: 0 5rem;
    }
    .error {
        font-size: 1.2rem;
    }
}

// --- Password Visibility Toggle Button ---
.form {
    .root-right-btn {
        border: none;
        background: none;
        width: 4rem;
        height: 4rem;
        padding: 4px;
        border-radius: var(--border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--black);
        cursor: pointer;

        &:hover {
            background: #dfe3e7;
            color: var(--black);
        }
        .icon-right-btn {
            display: flex;
            align-self: center;
            cursor: pointer;
        }
    }
}

//============== TEXT INPUT

// ========== USER ROLE ==============

.group-label {
    font-size: 1.2rem;
}

.radio-body {
    height: 5rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-100);
    cursor: pointer;

    &:hover {
        box-shadow: var(--box-shadow);
        border-color: var(--blue-500);
    }
}

.radio-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 50%;
    cursor: pointer;
}

.radio-label {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.radio {
    cursor: pointer;
}
.radio-icon {
    cursor: pointer;
}

// ========== CHECKBOX & RESET PASSWORD ==========
.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 1rem 0;

    .checkbox-label {
        font-size: 1.2rem;
        display: flex;
        gap: 1rem;

        .link {
            color: var(--primary-color);
            font-weight: 400;
        }
    }
    .checkbox-inner {
        width: 1.6rem;
        height: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .checkbox-input {
        width: 1.6rem;
        height: 1.6rem;
        cursor: pointer;
    }
    .checkbox-icon {
        font-size: 1.6rem;
    }
}

.checkbox-body {
    display: flex;
    align-items: center;
}

// ========== SUBMIT BUTTON ==========
.submit {
    width: 100%;
}

// ========== OPTIONAL: ROOT BUTTON RESETPASSWORD  ==========
.root-btn {
    border: none;
    background: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;

    &:hover {
        background: none;
    }

    .inner-btn {
        cursor: pointer;
    }
}

// ========== OPTIONAL : SIGNUP BUTTON ==========
.login {
    width: 100%;

    & .description {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 1.4rem;

        & .link {
            color: var(--primary-color);
            text-decoration: none;
            cursor: pointer;
        }
    }
}

// ========== SOCIAL MEDIA LOGIN ==========

.social-media {
    margin-top: 2rem;
    .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.05rem solid var(--border-color);
        z-index: 0;
        margin-bottom: 5rem;

        .description {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #6b7280;
            font-size: 1.2rem;
            background: var((--white));
            height: 2rem;
            width: 12rem;
        }
    }
}
