// ========== LEFT SIDE (Logo, Welcome, Features) ==========
.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 40px;
}

// --- Logo and App Name ---
.top-left {
    .logo {
        display: flex;
        align-items: center;
        gap: 1rem;

        .logo-icon {
            width: 4rem;
            height: 4rem;
            background-color: var(--white);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary-color);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .logo-text {
            font-size: 2rem;
            font-weight: 600;
            color: var(--white);
            margin: 0;
        }
    }

    .title {
        font-size: 3rem;
        font-weight: 600;
        color: var(--white);
    }
    .description {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--white);
        line-height: 2.4rem;
        margin-top: 1rem;
    }
}

// --- Features/Highlights ---
.bottom-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .content {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1.6rem;
        font-weight: lighter;
        color: var(--white);

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            background-color: var(--primary-color-light);
            border-radius: 50%;
        }

        .description {
            font-weight: 400;
        }
    }
}
