.wrapper {
    width: 30.2rem;
    height: 10.2rem;
    display: flex;
    gap: 2rem;
    border-radius: var(--border-radius);
    background: var(--white);
    padding: 2rem;
    transition: var(--transition);

    &:hover {
        box-shadow: 0px 12px 48px 0px #002c6d1a;
        background: var(--white);

        .title {
            color: var(--blue-500);
        }
        .root {
            background: var(--blue-500);
        }
        .icon {
            color: var(--white);
        }
    }

    .root {
        height: 6.2rem;
        width: 6.2rem;
        border-radius: var(--border-radius);
        background: var(--blue-50);
        transition: var(--transition);
    }

    .icon {
        color: var(--blue-500);
        width: 60%;
        height: 60%;
    }
}

.title {
    font-size: var(--font-size-logo);
    font-weight: 500;
}
.pointer {
    cursor: pointer;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.description {
    font-size: var(--font-size-14px);
    color: var(--gray-500);
}

// responsive cho màn hình <= 1024px
@media screen and (max-width: 1024px) {
    .wrapper {
        height: 9rem;
        width: max-content;

        .root {
            width: 5.8rem;
            height: 5.8rem;
        }
    }
}

// responsive cho màn hình <= 768px
@media screen and (max-width: 768px) {
    .wrapper {
        height: 7rem;
        width: max-content;
        padding: 1.2rem;

        .root {
            width: 4.8rem;
            height: 4.8rem;
        }
    }
}
