.wrapper {
    min-width: 36rem;
    max-width: 48rem;
    height: fit-content;
    display: flex;
    flex-direction: column;

    max-height: 20.4rem;
    padding: 2rem;
    border: 1px solid var(--gray-100);
    background-color: var(--white);
    border-radius: var(--border-radius);

    transition: var(--transition);

    &:hover {
        box-shadow: var(--box-shadow);
        border-color: var(--blue-500);

        .job-title {
            color: var(--blue-500);
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .container {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .logo-company {
        width: 5.6rem;
        height: 5.6rem;
        background: white;
        border-radius: var(--border-radius);
        border: 1px solid var(--gray-100);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .company-inf {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        justify-content: center;

        .company-name {
            display: flex;
            align-items: center;
            gap: 1rem;
            .name {
                display: -webkit-box; /* Sử dụng flexbox với WebKit */
                -webkit-line-clamp: 1; /* Hiển thị tối đa 1 dòng */
                -webkit-box-orient: vertical; /* Định hướng nội dung dọc */
                overflow: hidden; /* Ẩn phần nội dung tràn */
                text-overflow: ellipsis;
                max-width: 15rem;
            }

            button span {
                font-size: 1.6rem;
                font-weight: 400;
            }
            a {
                font-size: 1.6rem;
                font-weight: 400;
            }
        }

        .company-address {
            font-size: 1.4rem;
            color: var(--gray-500);
            display: -webkit-box; /* Sử dụng flexbox với WebKit */
            -webkit-line-clamp: 1; /* Hiển thị tối đa 2 dòng */
            -webkit-box-orient: vertical; /* Định hướng nội dung dọc */
            overflow: hidden; /* Ẩn phần nội dung tràn */
            text-overflow: ellipsis;
        }
    }

    .save-job {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: var(--border-radius);
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--blue-50);
        cursor: pointer;
        transition: var(--transition);

        &:hover {
            border-color: var(--blue-500);
        }
    }
}

.body {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .job-title {
        font-size: 2rem;
        font-weight: 500;
        color: var(--gray-900);
        transition: var(--transition);
        display: -webkit-box; /* Sử dụng flexbox với WebKit */
        -webkit-line-clamp: 1; /* Hiển thị tối đa 2 dòng */
        -webkit-box-orient: vertical; /* Định hướng nội dung dọc */
        overflow: hidden; /* Ẩn phần nội dung tràn */
        text-overflow: ellipsis;
        width: 100%;
    }

    .job-description {
        margin-top: 1rem;
        font-size: 1.4rem;
        color: var(--gray-500);
        display: flex;
        gap: 2rem;
    }

    .job-salary,
    .work-time {
        font-size: 1.4rem;
        background: var(--gray-100);
        color: var(--gray-900);
        border-radius: 1000px;
        padding: 0.2rem 0.4rem;
    }
}

// FEATURED

.isVIP {
    background: linear-gradient(90deg, var(--orange-50), var(--white));

    .logo-company {
        // border-color: transparent;
        border: none;
    }
}

.label-badge {
    color: #ff4f4f;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: none;
}

.root-badge {
    width: 8.3rem;
    height: 2.6rem;
}

//

//RESPONSIVE

// Responsive cho màn hình <= 1024px
@media (max-width: 1024px) {
    .wrapper {
        height: auto;
        padding: 2.5rem;
        font-size: 1.4rem;
    }

    .body {
        .job-title {
            font-size: 1.8rem;
        }
    }
}

// Responsive cho màn hình <= 768px
@media (max-width: 768px) {
    .wrapper {
        min-width: auto;
        max-width: auto;
        height: 16rem;
        font-size: 1.2rem;
        padding: 2rem;
    }

    .header {
        font-size: 1.2rem;

        .logo-company {
            width: 4rem;
            height: 4rem;
        }

        .company-inf {
            gap: 0;
            .company-address {
                font-size: 1.2rem;
            }
        }
    }

    .body {
        margin-top: 1.5rem;
        gap: 1rem;

        .job-title {
            font-size: 1.6rem;
            max-width: 12rem;
        }

        .job-description {
            margin: 0;
            font-size: 1.2rem;
        }
    }
}

// Responsive cho màn hình <= 480px
@media (max-width: 480px) {
    .wrapper {
        min-width: auto;
        max-width: auto;
        height: 14rem;
        font-size: 1rem;
        padding: 1.5rem;
    }
    .body {
        .job-title {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }
}
