.my-root {
    height: auto;
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.my-content {
    min-height: 250px;
    max-height: 300px;
    font-size: 1.6rem;
    overflow: auto;
}
.my-control {
    width: 3rem;
    height: auto;
    padding: 1px;
}
.my-toolbar {
    height: fit-content;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;

    button {
        // background: red;
        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .controls-group {
        display: flex;
        align-items: center;
    }

    .controls-group:last-child {
        border-right: none;
    }
}
