.my-root {
    height: auto;
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

.my-content {
    min-height: 250px;
    font-size: 1.6rem;
}
.my-toolbar {
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    button {
        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .controls-group {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 2rem 0 0;
        border-right: 1px solid var(--gray-200);
    }

    .controls-group:last-child {
        border-right: none;
    }
}
