.paymentContainer {
    padding: 2rem;
    max-width: var(--default-layout-width);
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-family);
    color: var(--gray-900);
}

.paymentContainer__title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.paymentContainer p {
    color: var(--gray-600);
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.plans {
    display: flex;
    justify-content: center;
    // justify-content: space-around;
    gap: 4rem;
    flex-wrap: wrap;
}

.plan {
    border: 0.1rem solid var(--border-color);
    padding: 2rem;
    border-radius: 0.8rem;
    width: 28rem;
    background: var(--white);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;
    color: var(--gray-900);
    font-family: var(--font-family);
}

.plan__title {
    font-size: 1.8rem;
    color: var(--gray-900);
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
}

.price {
    font-size: 2.4rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.plan ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin-bottom: 1.5rem;
}

.plan ul li {
    color: var(--gray-600);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.plan ul li svg {
    margin-right: 0.6rem;
    flex-shrink: 0;
}

.plan__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
    font-family: var(--font-family);
}

.plan__button:hover {
    background-color: var(--primary-color-dark);
}

.recommended {
    position: relative;
}

.recommended span {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.4rem 1.8rem;
    border-radius: 0.3rem;
    position: absolute;
    top: -1.6rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
    font-weight: 700;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.12);
    z-index: 2;
    letter-spacing: 0.1rem;
}
.illustration {
    display: block; // chuyển ảnh thành block để margin auto hoạt động
    margin: 0 auto; // canh giữa ngang
    max-width: 100%; // tránh ảnh tràn container
    height: auto; // giữ tỉ lệ ảnh
}
.paymentContainer__title {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 2rem;
}

/* Responsive */
@media (max-width: 800px) {
    .plans {
        flex-direction: column;
        align-items: center;
    }
    .plan {
        width: 90vw;
        max-width: 36rem;
        margin-bottom: 2.4rem;
    }
}
