.input {
    width: 100%;
    height: 5rem;
    padding: 0 0 0 4rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--input-bd, var(--border-color));
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

    &::placeholder {
        color: var(--placeholder-color);
    }

    &:focus,
    &:focus-within {
        --input-bd: var(--primary-color);
    }
}

.inputError {
    --input-bd: var(--error-color) !important;
    border-color: var(--error-color) !important;
    box-shadow: 0 0 2px 1px var(--error-color) !important;
    caret-color: var(--error-color) !important;

    &::placeholder {
        color: var(--error-color);
        opacity: 1;
    }

    &:focus,
    &:focus-within {
        --input-bd: var(--error-color) !important;
        outline: none;
    }
}
// --- Error Message ---
.error {
    font-size: 1.2rem;
    color: var(--error-color);
    margin-top: 0.5rem;
}

.label {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--text-color, #161823);
}

.wrapper {
    position: relative;

    .section {
        position: absolute;
        top: 55%;
        left: 1.5rem;
        transform: translateY(-50%);
        font-size: 1.4rem;
        color: #b8bdc3;
    }

    div[data-position='right'] {
        right: 0.6rem;
        left: auto;
        top: 50%;
    }
}

.error-message {
    font-size: 1.2rem;
    color: var(--error-color);
    margin-top: 0.5rem;
}
.iconError {
    color: var(--error-color) !important;
}
